body,
html,
h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Roboto;
}

header {
  margin: 0px 0px 0px 0px;
  width: 100%;
  height: 60px;
  background-color: #565656;
}

h1 {
  font-size: 30px;
  color: #dbdbdb;
}

.input-form {
  width: 100%;
  height: 25px;
  border: 1px solid #ccc;
  margin-bottom: 17px;
}

form {
  width: 100%;
}

#bt-enviar {
  width: 130px;
  height: 25px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #349c03;
}

#form-albuns {
  width: 540px;
  height: 200px;
}

.title-form {
  width: 100%;
}

#form-albuns h2 {
  font-size: 20px;
  color: #383838;
  margin-left: 10px;
}

ul li {
  font-size: 20px;
  list-style: none;
  color: #383838;
}

ul#instrucoes-de-uso li {
  line-height: 40px;
  letter-spacing: 0.1em;
}

ul#lista-de-albuns li {
}

ul#lista-de-albuns li .nome-do-artista {
  font-size: 10px;
}
